h1 {
    color: red;
}

.post{
    background-color: whitesmoke;
    margin:auto;
    width: 50%;



}

.logo{

    background-color: silver;
    height: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.footer{

    background-color: silver;
    text-align: center;
    height: 50px;

}